# R user library
r_user_libs/

# Workspace directory (if created at root)
hsmr_workspace/

.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
odbc_connect.
testing.R

# 'data' folder #
data/

# Markdown/notebook output
*.docx
*.doc
*.html

# Images
*.png
*.jpg
*.jpeg
*.svg
